services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  mongodb:
    image: mongo
    restart: always
    ports:
      - "27017:27017"

  order-service:
    build: ./order-service
    ports:
      - "4001:4001"
    depends_on:
      - kafka
      - mongodb

  inventory-service:
    build: ./inventory-service
    ports:
      - "4002:4002"
    depends_on:
      - kafka
      - mongodb

  payment-service:
    build: ./payment-service
    ports:
      - "4003:4003"
    depends_on:
      - kafka
      - mongodb

  shipping-service:
    build: ./shipping-service
    ports:
      - "4004:4004"
    depends_on:
      - kafka
      - mongodb
